.sidebar {
  grid-area: s;
  width: 75px;
  background: #6d10db;
  padding: 20px;
  line-height: 23px; /* Растояние между строками */
}
.sidebar a {
  text-decoration: none;
}
.active {
  color: goldenrod;
}
.friends {
  padding-top: 150px;
}
